footer {
    background: var(--color-primary);
    padding: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

.footer__image {
     max-width: 30px;
     max-height: 30px;
     display: inline-block;
     padding-right: 0.2rem;
}


/* ======================= Media Queries (medium devices such as tablets) ======================= */

@media screen and (max-width:1024px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
}

